@use '../variables' as *;
 
.window-pop-up {
  position: fixed;
  color: #fff;
  border: 1px solid rgba($primary, 0.4);
  border-radius: 5px;
  z-index: 9999;
  clip-path: polygon(0 100%, 7% 100%, 7% 100%, 0 100%);
  background-color: $black;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  padding-top: 3rem;

  .close-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: $primary;
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    transform: translate(50%, -50%);
  }
}

