@use '../variables' as *;
@use '../mixins/breakpoints' as *;

.about-section {
  @include mq(lg) {
    display: flex;
    justify-content: center;
  }
  &-content {
    width: 50%;
    div {
      ul {
        padding-left: 40px;
        font-family: "Space Mono";

        li::before {
          content: "\2023";
          color: $red;
          font-weight: bold;
          display: inline-block; 
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }
}
