@use '../variables' as *;
@use '../mixins/breakpoints' as *;

.about-section {
  @include mq(lg) {
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    
    article {
      flex: 1;
    }

    div {
      flex: 1;
    }
  }
  &-content {
    transform: translateY(20%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

    @include mq(lg) {
      width: 50%;
    }

    div {
      flex: 1;
    }
  }
}
