@use '../variables' as *;
@use '../mixins/breakpoints' as *;

.about-section {
  gap: 3rem;

  @include mq(lg) {
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
    
    article {
      flex: 1;
    }

    div {
      flex: 1;
    }
  }
  &-content {

    @include mq(lg) {
      transform: translateY(20%);
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
      width: 50%;
    }

    div {
      flex: 1;
    }
  }
}
