@use '../variables' as *;

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn {
  &-contact {
    background-color: $red;
    color: #fff;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    overflow: hidden;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: 4rem;
    width: 4rem;
    transition: 350ms ease;
    border-color: $red;
    z-index: 1000;

    &:hover {
      width: 225px;
      span {
        display: block;
      }
    }

    svg {
      font-size: 2rem;
    }

    span {
      display: none;
      position: absolute;
      right: 1rem;
      opacity: 0;
      font-weight: 700;
      transform: translateY(2px);
      animation: show 150ms ease 350ms forwards;
      letter-spacing: $letter-space;
      text-transform: uppercase;
    }
  }
}
