@use '../variables' as *;
@use '../mixins/breakpoints' as *;

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn {
  border-radius: 4rem;
  padding: 1rem;
  border: 0;
  display: inline-flex;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 900;
  align-items: center;

  &-primary {
    background-color: $red;
    color: #fff;
  }

  &-contact {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    overflow: hidden;
    width: 4rem;
    transition: 350ms ease;
    z-index: 1000;


    @include mq(lg) {
      &:hover {
        width: 225px;
        span {
          display: block;
        }
      }
    }

    svg {
      font-size: 2rem;
    }

    span {
      display: none;
      position: absolute;
      right: 1rem;
      opacity: 0;
      font-weight: 700;
      transform: translateY(2px);
      animation: show 150ms ease 350ms forwards;
      letter-spacing: $letter-space;
      text-transform: uppercase;
    }
  }
}
