@use '../variables' as *;
@use '../mixins/breakpoints' as *;

.contact-me-form {
  display: flex;
  flex-direction: column;
  opacity: 0;
  gap: 2rem;

  @include mq(sm, max) {
    width: 70vw;
  }

  textarea {
    padding: 0.75rem;
  }

  .form-element {
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 0.75rem;
    border: 1px solid rgba(#fff, 0.4);
    color: #fff;
    font-size: 1rem;
    background-color: $black;
    outline-color: $red;
    padding-left: 0.75rem;

    input {
      background-color: transparent;
      flex: 1;
      outline: 0;
      border: 0;
      padding: 0.75rem;
      font-weight: 600;
      font-size: 1.15rem;
      color: #fff;

      &:focus {
        color: #000;
        background-color: $red;
      }
    }
  }

  button[type="submit"] {
    align-self: center; 
  }
}

