@use '../variables' as *;
 
.window-pop-up {
  position: fixed;
  color: #fff;
  border: 1px solid rgba($red, 0.4);
  border-radius: 5px;
  z-index: 1001;
  clip-path: polygon(0 100%, 7% 100%, 7% 100%, 0 100%);
  background-color: $black;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

