$black: #222831;
$gray: #393E46;
$primary: #00ADB5;
$white: #EEEEEE;

$gray-100: rgba($gray, $alpha: 0.1);
$gray-200: rgba($gray, $alpha: 0.2);
$gray-300: rgba($gray, $alpha: 0.3);
$gray-400: rgba($gray, $alpha: 0.4);
$gray-500: rgba($gray, $alpha: 0.5);
$gray-600: rgba($gray, $alpha: 0.6);
$gray-700: rgba($gray, $alpha: 0.7);
$gray-800: rgba($gray, $alpha: 0.8);
$gray-900: rgba($gray, $alpha: 0.9);

$black-100: rgba($black, $alpha: 0.1);
$black-200: rgba($black, $alpha: 0.2);
$black-300: rgba($black, $alpha: 0.3);
$black-400: rgba($black, $alpha: 0.4);
$black-500: rgba($black, $alpha: 0.5);
$black-600: rgba($black, $alpha: 0.6);
$black-700: rgba($black, $alpha: 0.7);
$black-800: rgba($black, $alpha: 0.8);
$black-900: rgba($black, $alpha: 0.9);

$section-padding: 7vw;

$letter-space: 0.25rem;
